{% macro renderNavPanelPattern1(collection) %}
    {% if collection.total_pages > 1  %}
    <div class="navPanel">
        <p class="text-center">Page {{ collection.current_page }} of {{ collection.total_pages }}</p>
        <ul class="navButtons pager">
            <li class="prev-link">
                {% if collection.prev_page_url %}
                    <a href="{{ collection.prev_page_url }}">&lt;</a>
                {% else %}
                    <span class="disabled">&lt;</span>
                {% endif %}
            </li>
            <li class="next-link">
                {% if collection.next_page_url %}
                    <a href="{{ collection.next_page_url }}">&gt;</a>
                {% else %}
                    <span class="disabled">&gt;</span>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
{% endmacro %}
